*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 60em; /* 1000px - 960px */
    background-color: purple;
    color: whitesmoke;
    background-image: repeating-linear-gradient(to right ,purple,purple,navy,navy,navy);
    font-family: 'Indie Flower', cursive;
}
/* Grid Area hnit */
.haus{
    grid-area: haus;
    text-align: center;
    background-color: blue;
    color: whitesmoke
    
}
.container{
    grid-area: container;
}
.topnav{
    grid-area: topnav;
    background-color: yellow
    

}
.foot{
    grid-area: foot;
}

.as1 {
    background-color: green;
    font-family: '';
    grid-area: as1;
    border-right: 1px solid grey;
    padding-left: 1em;
    border: green;
}
.as2 {
    grid-area: as2;
    border : 3px solid palevioletred;
    padding-left: 2em;
    background-color: red;
    
}
.art1 {
    grid-area: art1;
    background-color:orange;
    padding-left: 2em;
}
/* Grid template area */
.body{
    display:grid;
    grid-template-areas: 
        "topnav"
        "haus"
        "container"
        "foot"

}
/* innri tök í main */
.main{
    display:grid;
    grid-gap: 3em;
    grid-template-areas:
        "header header "
        "as1 art1"
        "as2 as2"
        "foot foot";
    grid-template-columns: 1fr 3fr 
}
/* flex box */
.footmenu, .topmenu  {
    font-family: 'Comic sans', cursive;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin:0;
    padding:1em;
    background-color: orange;
}
.topmenu li, .footmenu li {
    list-style-type: none;
}
